<h1>Your profile</h1>

<p>Your id <%= current_user.id %></p>
<p>Your phone <%= current_user.phone %></p>
<p><%= link_to 'Choose doctor', search_doctor_path %></p>
<p><%= link_to 'Your appointments', users_appointments_path %></p>
<br>
