<h1>Doctors</h1>

<% @doctors.each do |doctor| %>
  <p>Doctor id <%= doctor.id %></p>
  <p>Doctor phone <%= doctor.phone %></p>
  <p>
    <% if doctor.appointments.where(status: true).count >= 10%>
       No avaliable appointments. Please wait.
    <% else %>
      <%= button_to 'Choose this doctor', users_appointments_path(doctor: doctor), method: :post, data: { turbo: false } %></p>
    <% end %> </p>

  <br>
<% end %>
