<h1>Doctor profile</h1>

<p>Your id <%= current_doctor.id %></p>
<p>Your phone <%= current_doctor.phone %></p>
<p>Your category is <%= current_doctor.category.name %></p>
<p><%= link_to 'Patients', doctors_appointments_path %></p>
<br>
