<h1>Admin profile</h1>

<p><%= link_to 'All patience', admin_users_path %></p>
<p><%= link_to 'All doctors', admin_doctors_path %></p>
<p><%= link_to 'Create doctor', new_admin_doctor_path %></p>
<p><%= link_to 'Create category', new_admin_category_path %></p>

<br>
